@model GameVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Game</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger my-2"></div>
        <div class="from-group mb-3 row p-1">
            <label asp-for="Game.Title" class="pb-2"></label>
            <input asp-for="Game.Title" class="form-control" />
            <span asp-validation-for="Game.Title" class="text-danger my-2"></span>
        </div>
        <div class="from-group mb-3 row p-1">
            <label asp-for="Game.GenreId" class="pb-2"></label>
            <select asp-for="Game.GenreId" asp-items="@Model.GenreList" class="form-select">
                <option disabled selected>-- Select Genre --</option>
            </select>            
            <span asp-validation-for="Game.GenreId" class="text-danger my-2"></span>
        </div>
        <div class="from-group mb-3 row p-1">
            <label asp-for="Game.Developer" class="pb-2"></label>
            <input asp-for="Game.Developer" class="form-control" />
            <span asp-validation-for="Game.Developer" class="text-danger my-2"></span>
        </div>
        <div class="from-group mb-3 row p-1">
            <label asp-for="Game.Publisher" class="pb-2"></label>
            <input asp-for="Game.Publisher" class="form-control" />
            <span asp-validation-for="Game.Publisher" class="text-danger my-2"></span>
        </div>
        <div class="from-group mb-3 row p-1">
            <label asp-for="Game.Price" class="pb-2"></label>
            <input type="number" step="0.01" asp-for="Game.Price" class="form-control no-number-arrows" value="@((Model.Game.Price == 0) ? "" : Model.Game.Price)" />
            <span asp-validation-for="Game.Price" class="text-danger my-2"></span>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 col-md-3 px-1">
                <a asp-controller="Game" asp-area="Admin" asp-action="Index" class="btn btn-outline-secondary form-control">Return</a>
            </div>
            <div class="col-6 col-md-3 px-1">
                <button type="submit" class="btn btn-success form-control">Submit</button>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}