@model List<Game>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Game List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Game" asp-area="Admin" asp-action="Upsert" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-circle"></i> Create New Game</a>
        </div>
    </div>

    <table id="tbData" class="table table-bordered table-striped table-sm w-100">
        <thead>
            <tr class="text-center">
                @*<th>Game Id</th>*@
                <th class="bg-primary text-light">Game Name</th>
                <th class="bg-primary text-light">Developer</th>
                <th class="bg-primary text-light">Publisher</th>
                <th class="bg-primary text-light">Genre</th>
                <th class="bg-primary text-light">Price</th>
                <th class="bg-primary text-light">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/game.js"></script>
}
